* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 8vw;
}

main,
form,
form + ul,
button + ul {
    margin-top: 50px;
}

div + div {
    margin-top: 20px;
}

h1 {
    cursor: pointer;
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
}

li + li {
    margin-top: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}